<%= render partial: "marketing/static_pages/homepage/hero" %>

<div class="feature-section">
  <article>
    <section>
      <%= image_tag("illustrations/marketing/homepage/connect.svg") %>
    </section>

    <aside>
      <h3>Admin Creation</h3>
      Creating an admin user is the first step to get on your way with your
      newly deployed application. Click below to set up and configure your
      first account and enroll two factor auth credentials. Always protect
      your admin functionality carefully!
    </aside>
  </article>
</div>

<div class="feature-section">
  <article>
    <aside>
      <h3>Extensive documentation</h3>
      Olympus comes with extensive documentation to give you everything you
      need to know at your fingertips. If you're running this locally, make
      sure to run the doc server from the bin folder
      <pre>
      $ bash bin/docs
      </pre>
    </aside>

    <section>
      <%= image_tag("illustrations/marketing/homepage/schedule.svg") %>
    </section>
  </article>
</div>

<div class="feature-section">
  <article>
    <section>
      <%= image_tag("illustrations/marketing/homepage/reports.svg") %>
    </section>

    <aside>
      <h3>Powerful security</h3>
      Olympus ships with everything you need to run and maintain a secure web
      application. Portunus provides encryption that makes your data secure
      even if leaked. Built in key rotation makes sure that you never have
      long lived encryption keys. Two factor auth is ready to go using token
      or mobile auth devices. Adding sms based is an easy extension if your
      needs require it (extra fees involved).
    </aside>
  </article>
</div>

<div class="feature-section">
  <article>
    <aside>
      <h3>Basic admin panel</h3>
      Our admin provides the basic tools that your support staff will need to
      debug and support your clients. See recently viewed pages, send password
      reset emails, manage basic support requests and a good bit more all from
      a pre built admin panel. Extend the admin to offer your own enhancements
      as required.
    </aside>

    <section>
      <%= image_tag("illustrations/marketing/homepage/impact.svg") %>
    </section>
  </article>
</div>

<div class="feature-section">
  <article>
    <section>
      <%= image_tag("illustrations/marketing/homepage/learn.svg") %>
    </section>

    <aside>
      <h3>Pre-configured structure and schema</h3>
      Olympus comes with a schema designed to fit any applications needs. The
      lessons learned implementing these designs were learned in over a decade
      of working with poorly structured Rails apps. You and your team can start
      from day 1 to implement your own application logic and leave all the
      basics to Olympus.
    </aside>
  </article>
</div>
