<div class="marketing-static_pages-scheduling_features">
  <div class="hero">
    <aside>
      <div class="content">
        <h1><%= t(".hero.title") %></h1>
        <h4><%= t(".hero.message") %></h4>

        <%= link_to(
          t(".hero.cta"),
          connect_path,
          class: "button primary"
        ) %>
      </div>
    </aside>

    <section>
    </section>
  </div>
</div>

<section class="feature-section">
  <article>
    <aside>
      <h3><%= t(".import.title") %></h3>
      <%= t(".import.message") %>
    </aside>

    <section>
      <%= image_tag("illustrations/marketing/scheduling/calendars.svg") %>
    </section>
  </article>
</section>

<section class="feature-section">
  <article>
    <section>
      <%= image_tag("illustrations/marketing/scheduling/photography.svg") %>
    </section>

    <aside>
      <h3><%= t(".design.title") %></h3>
      <%= t(".design.message") %>
    </aside>
  </article>
</section>

<section class="feature-section">
  <article>
    <aside>
      <h3><%= t(".templates.title") %></h3>
      <%= t(".templates.message") %>
    </aside>

    <section>
      <%= image_tag("illustrations/marketing/scheduling/template_blocks.svg") %>
    </section>
  </article>
</section>

<section class="feature-section">
  <article>
    <section>
      <%= image_tag("illustrations/marketing/scheduling/customize.svg") %>
    </section>

    <aside>
      <h3><%= t(".customize.title") %></h3>
      <%= t(".customize.message") %>
    </aside>
  </article>
</section>
