<div class="dashboard-settings-sources-new header-view">
  <header>
    <%= link_to(
      "Settings",
      dashboard_settings_root_path
    ) %>
    &nbsp; <%= ion_icon("ios-arrow-right") %> &nbsp;
    <%= link_to(
      "Billing",
      dashboard_settings_billings_path
    ) %>
    &nbsp; <%= ion_icon("ios-arrow-right") %> &nbsp;Sources
  </header>

  <section>
    <%= render partial: "dashboard/settings/billing_sources/form" %>
  </section>
</div>
