<li><%= link_to(t(".home"), root_path) %></li>
<li><%= link_to(t(".pricing"), pricing_path) %></li>
<li><%= link_to(t(".contact_us"), new_marketing_contact_us_request_path) %></li>
<li><%= link_to(t(".about_us"), about_us_path) %></li>
<li id="loginLink"><%= link_to(t(".login"), connect_path) %></li>
<li><%= link_to(t(".sign_up"), connect_path) %></li>
