<html>
  <head>
    <title>
      Olympus
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.ico" %>

    <%= stylesheet_link_tag(
      "wisp",
      media: "all",
      "data-turbolinks-track": "reload"
    ) %>

    <%= stylesheet_link_tag(
      "art_pane",
      media: "all",
      "data-turbolinks-track": "reload"
    ) %>

    <% if content_for?(:header_css) %>
      <%= content_for(:header_css) %>
    <% end %>

    <% if content_for?(:header_js) %>
      <%= content_for(:header_js) %>
    <% else %>
      <%# NOTE: to make the chunks work we don't want to call this more than
                once %>
      <%= javascript_packs_with_chunks_tag(
        "rails",
        "wisp",
        "art_pane",
        "data-turbolinks-track": "reload"
      ) %>
    <% end %>

    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC:400,600&display=swap"
          rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div class="layouts-art_pane">
      <aside>
        <div class="sidebar-content">
          <%= yield %>
        </div>

        <footer class="branding-footer">
          <%= link_to(root_path, class: "root-link") do %>
            <%= image_tag("logos/symbol/symbol_64.png") %>
            <%= I18n.t("base.application_name") %>
          <% end %>
        </footer>
      </aside>

      <section></section>
    </div>

    <div data-controller="session-timezone"
         data-remote-url="<%= utilities_session_timezone_path %>">
    </div>

    <%= render partial: "layouts/shared/flash_messages" %>
  </body>
</html>
