<html>
  <head>
    <title>
      Improve meeting productivity with Meettrics
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag "favicon.ico" %>

    <%= stylesheet_link_tag(
      "wisp",
      media: "all",
      "data-turbolinks-track": "reload"
    ) %>

    <%= stylesheet_link_tag(
      "marketing",
      media: "all",
      "data-turbolinks-track": "reload"
    ) %>

    <%= javascript_packs_with_chunks_tag(
      "rails",
      "wisp",
      "dashboard",
      "data-turbolinks-track": "reload"
    ) %>

    <link href="https://fonts.googleapis.com/css?family=Noto+Serif+SC:400,600&display=swap" rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body data-controller="<%= controller_path %>" data-action="<%= action_name %>">
    <div class="layouts-scheduling">
      <aside>
        <div class="sidebar-content">
          <%= yield %>
        </div>

        <footer class="branding-footer">
          <%= link_to(root_path, class: "root-link") do %>
            <%= image_tag("logos/symbol/symbol_64.png") %>
            Meettrics
          <% end %>
        </footer>
      </aside>

      <section>

      </section>
    </div>

    <div id="twoFactorModalContainer"></div>
    <%= render partial: "layouts/shared/flash_messages" %>
  </body>
</html>
