<!DOCTYPE html>
<html>
  <head>
    <title>Meettrics</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag(
      "wisp",
      media: "all",
      "data-turbolinks-track": "reload"
    ) %>

    <%= stylesheet_link_tag(
      "dashboard",
      media: "all",
      "data-turbolinks-track": "reload"
    ) %>

    <%= javascript_packs_with_chunks_tag(
      "rails",
      "wisp",
      "dashboard",
      "data-turbolinks-track": "reload"
    ) %>
  </head>

  <body>
    <div class="layouts-dashboard onboarding">
      <section>
        <div class="content-frame">
          <div class="window">
            <section>
              <%= yield %>
            </section>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
